.footbar {
    background-color: gray;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;


    .container {
        display: flex;
        justify-content: space-between;
        
        a { 
            color: blue;
            list-style: none;
            padding-right: .5em;
        img{
            height: 2em;
            width: 2em;
            }
        }

        .footer-nav{
            color: #000;
            display: flex;
            place-content: space-between;
        }

        .footer-social-media {
            display: flex;
            place-content: space-between;
        }
    }
}