{% extends 'assets/base-singlepage-template.html' %}
{% load static %}
{% block body %}

<body class="coming_soon_style">
  <!-- Body Start -->

            {% block header %}
            {% include 'assets/base-singlepage-header.html' %}
            {% endblock header %}
              <br>
              Coming Soon
              <br>
            {% block footer %}
            {% include 'assets/base-singlepage-footer.html' %}
            {% endblock footer %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Body End -->
</body>
{% endblock body %}