{% extends 'assets/base-onepagemodal-template.html' %}
{% load static %}

<!-- title start -->
{% block title %} Forgot Password {% endblock title%}
<!-- title end -->


<!-- Content Start -->
{% block content %}
<div>
  <!-- Password Request Reset Form Start -->
  <div class="container">
    <div class="row justify-content-lg-center justify-content-md-center">
      {% block header %}
      {% include 'assets/base-onepagemodal-header.html' %}
      {% endblock header %}

      <div class="col-lg-6 col-md-8">
        <div class="sign_form">
          {% for msg in messages %}
            <div class="alert alert-danger" role="alert">
              {{ msg }}
            </div>
          {% endfor %}
          <h2>Request a Password Reset</h2>
          <form method='POST' action="{% url 'main:password_reset' %}">
            {% csrf_token %}
            <div class="ui search focus mt-50">
              <div class="ui left icon input swdh95">
                <input class="prompt srch_explore" type="email" name="email" value="" id="id_email" required=""
                  maxlength="64" placeholder="Email Address" />
                <i class="uil uil-envelope icon icon2"></i>
              </div>
            </div>
            <!-- <div class="g-recaptcha mt-15" data-sitekey="6LeYSLYaAAAAAL9zHMmDwgmo87TkBRFH2m5hY1Yh"></div> -->

            <button class="login-btn" type="submit">Reset Password</button>
          </form>
          <p class="mb-0 mt-30">
            Go Back <a href=" {% url 'main:signin' %} ">Sign In</a>
          </p>
        </div>
      </div>
      <!-- Footer Start -->
      {% block footer %}
      {% include 'assets/base-onepagemodal-footer.html' %}
      {% endblock footer %}
      <!-- Footer End -->
    </div>
  </div>
  <!-- Password Request Reset Form End -->
</div>
{% endblock content %}
<!-- Content End -->