{% load main %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=9">
	<meta name="description" content="Prishnithemes">
	<meta name="author" content="Prishnithemes">
	<title>Prishni</title>

	<!-- Favicon Icon -->
	<link rel="icon" type="image/png" href=" {% static 'images/sign_logo.png' %} ">

	<!-- adding extra css -->
	<link href=" {% static 'css/modified-style.css' %} " rel="stylesheet">

	<!-- Stylesheets -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet'>
	<link href="{% static 'vendor/unicons-2.0.1/css/unicons.css' %}" rel='stylesheet'>
	<link href=" {% static 'css/night-mode.css' %} " rel="stylesheet">
	<link href=" {% static 'css/datepicker.min.css' %} " rel="stylesheet">
	<link href=" {% static 'css/style.css' %} " rel="stylesheet">
	<link href=" {% static 'css/responsive.css' %} " rel="stylesheet" />
	<link href=" {% static 'css/home-page.css' %} " rel="stylesheet">
	<link rel="stylesheet" href=" {% static 'css/header-footer.css' %} ">

	<!-- Vendor Stylesheets -->
	<link href="{% static 'vendor/unicons-2.0.1/css/unicons.css' %}" rel='stylesheet'>
	<link href=" {% static 'vendor/fontawesome-free/css/all.min.css' %} " rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href=" {% static 'vendor/OwlCarousel/assets/owl.carousel.css' %} " rel="stylesheet">
	<link href=" {% static 'vendor/OwlCarousel/assets/owl.theme.default.min.css' %} " rel="stylesheet">
	<link href=" {% static 'vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
	<link rel="stylesheet" type="text/css" href=" {% static 'vendor/fomantic/dist/semantic.min.css' %} ">


	<script src=" {% static 'js/jquery-3.3.1.min.js' %} "></script>
	<script src=" {% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
	<script src=" {% static 'vendor/OwlCarousel/owl.carousel.js' %} "></script>
	<script src=" {% static 'vendor/fomantic/dist/semantic.min.js' %} "></script>
	<script src=" {% static 'js/custom1.js' %} "></script>
	<script src=" {% static 'js/night-mode.js' %} "></script>

	<script>
		$(document).ready(function () {

			//adding function for by adding active for particular div and tabs and removing from everywhere 
			for (let i = 0; i < 4; i++) {
				$($(".service-heading-box")[i]).click(function () {
					$(".service-heading-box").removeClass("active");
					$(this).addClass("active");
					$(".service-content-box").removeClass("active");
					$($(".service-content-box")[i]).addClass("active");
				});
			}

		}
		);
	</script>

	<style>
        .cookie-banner {
            position: fixed;
            bottom: 40px;
            left: 10%;
            right: 10%;
            width: 80%;
            padding: 5px 14px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #eee;
            border-radius: 5px;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
          }
          .close {
            height: 20px;
            background-color: #777;
            border: none;
            color: white;
            border-radius: 2px;
            cursor: pointer;
          }
    </style>
</head>
<body>

	<body>
		<!-- the pop up displayin the cookie -->
		{% include 'cookie-card.html' %}
		<!-- Header Start -->
		{% block header %}
		{% include 'assets/base-home-header.html' %}
		{% endblock header %}
		<!-- Header End -->
		<!-- Body Start -->

		<div id="openingtext" class="wrapper _bg4586 _new89">
			<div class="banner section-1">
				<div class="container">

					<!-- <div id="particle-container">
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
						<div class="particle"></div>
					</div> -->
					<div class="row">
						<div class="col-md-6 my-auto">
							<div class="_215td5" style="margin-top: 5rem;">
								<p style="color: black; margin-left: 70px; font-size: x-large;">We provide niche educational and theruaptic solutions for Children with special needs</p>
								<!-- <p style="margin-left: 70px; color:black; font-size: larger;">Prishni is a one-touch system that uses niche therapies and educational solutions to
									aid neurodiverse children’s journey. With the help of experts, we facilitate
									neurodiverse children to build skills needed to succeed in life. </p-->
								<br> <br> 
<!-- 							<button style="margin-left: 30px; height: 200px; width: 350px;" class="button landing-page-button" id="buttongetstarted"
								onclick="location.href='https://forms.office.com/r/dvEerc18Rt'">
								<h4 style="font-size: 20px;">Join our private <br>beta program!</h4>
								<div class="button__horizontal"></div>
								<div class="button__vertical"></div>
							</button> -->

								<br><br><br><br><br><br><br>
								<button style="margin-left: 70px;   color: darkcyan; margin-top: -80px
								; width: 250px; height: 80px;" class="button" id="buttongetstarted" onclick="location.href='https://forms.office.com/r/dvEerc18Rt'">
									<p style="color: darkcyan; font-size: 11px;"><b>To Join our Beta version <br>Click here!</b></p>
									<div class="button__horizontal"></div>
									<div class="button__vertical"></div>
								</button>
								<!--{% if request.user.is_authenticated == False %}
									<form action="{% url 'main:signup' %}" method="POST" id="getStartedButton">
										{% csrf_token %}
										<input type="hidden">
									</form>
								{% else %}
									<form action="{% url 'main:userDashboard' %}" method="POST" id="getStartedButton">
										{% csrf_token %}
										<input type="hidden">
									</form>
								{% endif %}-->
								
							</div>
						</div>
						<!--<div class="col-md-6 main-illustration">
							<div class="">
								<img src="{% static 'images/Illustrations/main.svg' %}" alt="">
							</div>
						</div> --> 
					</div> 
				</div>
				</div>
					<div class = "container">
					<div class="row" style="margin-top: 8rem;">
						<div class="col-lg-12 my-4">
							<div class="title589  text-center">
								<h2 style="margin-top: -30px;" >How do we help you with your child’s journey? </h2>
								<p><!--Organised, robust and reliable technology by Prishni helps caregivers and children
									connect with experts and use other resources needed to raise neurodiverse children. -->
								</p>
							</div>
						</div>
					</div>
					<div class="row" style="margin-top: -40px;">
						<div class="col-lg-3  col-sm-6">
							<div class="feature125">
								<img src="{% static 'images/Illustrations/covenience.jpg' %}" alt="" style="height: 50px; width: 50px;">
								<h4>Convenient </h4>
								<p> Get everything under one umbrella.</p>
							</div>
						</div>
						<div class="col-lg-3  col-sm-6">
							<div class="feature125">
								<img src="{% static 'images/Illustrations/flexible.png' %}" alt="" style="height: 50px; width: 50px;">
								<h4>Flexbile  </h4>
								<p>Learn anytime, anywhere at your own pace. </p>
							</div>
						</div>
						<div class="col-lg-3  col-sm-6">
							<div class="feature125">
								<img src="{% static 'images/Illustrations/discover.png' %}" alt="" style="height: 50px; width: 50px;">
								<h4>Discovery </h4>
								<p> Find different ways to learn different things </p>
							</div>
						</div>
						<div class="col-lg-3  col-sm-6">
							<div class="feature125">
								<img src="{% static 'images/Illustrations/user.png' %}" alt="" style="height: 50px; width: 50px;">
								<h4>Includes You </h4>
								<p>Providing correct and simple-to-follow advice for caregivers.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="_215td5 section-join">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 my-4">
							<div class="title589  text-center">
							    <p>
								</p>
								<h2>How can you join us?  </h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-4">
							<div class="blogbg_1 text-center">
								<img class="profile" src="{% static 'images/Illustrations/learnerlight.webp' %}" alt="">
								<h3 style="color: black;">Join as a learner</h3>
								<p> Explore and improve learning outcome and skills.</p>
								<a href="{% url 'main:signup' %}" style="color: white; text-decoration:none;"><button type="button" class="btn btn-primary"> Start learning</button></a>
								<br>
								<br>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="blogbg_1 text-center">
								<img class="profile" src="{% static 'images/Illustrations/expert.webp' %}" alt="">
								<h3  style="color: black;">Join as an Expert </h3>
								<p> Increase your impact.</p>
								<a href="{% url 'main:signup' %}" style="color: white; text-decoration:none;"><button type="button" class="btn btn-primary">Start Exploring</button></a>
								<br>
								<br>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="blogbg_1 text-center">
								<img class="profile" src="{% static 'images/Illustrations/Org.webp' %}" alt="">
								<h3  style="color: black;">Join as an Organisation</h3>
								<p> Use technology to increase your reach. </p>
								<a href="{% url 'main:signup' %}" style="color: white; text-decoration:none;"><button type="button" class="btn btn-primary">Start Scaling</button></a>
								<br>
								<br>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="_215xd5 section-how">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 my-4">
							<div class="title589  text-center">
							   	<h2>How are we Curating an online ecosystem that is fun and functional?  </h2>
							</div>
						</div>
					</div>
					<div class="content-box">
						<div class="row">
							<div class="services-heading col-lg-4">
								<div class="service-heading-box active">
									Explore courses
								</div>
								<div class="service-heading-box">
									Connect with experts
								</div>
								<div class="service-heading-box">
									Attend live WebinarsAuthenticated SMTP 
								</div>
								<!-- <div class="service-heading-box">
									Discover supplemental products
								</div> -->
							</div>
							<div class="services-content col-lg-8">
								<div class="service-content-box active" style="height: 240px;">
									<div class="row">
										<div class="col-sm-6" style="margin-top: -40px;">
											<img src="{% static '/images/Illustrations/Explore.webp' %}" height="200" alt="" style="max-width: -webkit-fill-available; margin-left: 100px;">
										</div>
										<div class="col-sm-6 my-auto">
											<h2 style="margin: 20px; color: black;">Explore courses</h2>
											<p style="margin: 20px">Find courses designed by experts in different areas of interest.
												</p>
										</div>
									</div>
								</div>
								<div class="service-content-box" style="height: 240px;">
									<div class="row">
										<div class="col-sm-6" style="margin-top: -40px;">
											<img src="{% static '/images/Illustrations/therapist.webp' %}" height="200" alt="" style="max-width: -webkit-fill-available; margin-left: 100px;">
										</div>
										<div class="col-sm-6 my-auto">
											<h2 style="margin: 20px; color: black;">Connect with experts </h2>
											<p style="margin: 20px;"> Find the one
												that's right
												for
												you. Prishni lets you connect with different experts.</p>
										</div>
									</div>
								</div>
								<div class="service-content-box" style="height: 240px;">
									<div class="row">
										<div class="col-sm-6 my-auto" style="margin-top: -40px;">
											<img src="{% static '/images/Illustrations/live.webp' %}" height="200" alt="" style="max-width: -webkit-fill-available; margin-left: 100px;">
										</div>
										<div class="col-sm-6 my-auto">
											<h2 style="margin: 20px;  color: black;">Attend Webinars </h2>
											<p style="margin: 20px;">We invite experts to hold live 
											    workshops on various topics for caregivers, learners and experts
												. </p>
										</div>
									</div>
								</div>
								<div class="service-content-box">
									<div class="row">
										<div class="col-sm-6">
											<img src="{% static '/images/Illustrations/products.webp' %}" alt="">
										</div>
										<div class="col-sm-6">
											<h1>Discover supplemental products  </h1>
											<p>Find products like educational books, sensory products and more that will
												aid the
												treatment journey. Incorporate these products into your daily life to
												see how
												they
												can help manage behaviour. </p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- <div class="gallery-wrap mt-5 mb-5">
							<div class="item item-1">
								<h1>Explore courses </h1><br>
								<div class="col-md-6">
									<p> Find courses specialising in different areas. Your therapist could recommend you
										the
										ones that are suitable for you. Also, feel free to browse some others that could
										help too. We offer fun, innovative courses using techniques from drama, art,
										yoga
										and more. </p>
								</div>
							</div>
							<div class="item item-2">
								<h1>Connect with experts </h1><br>
								<div class="col-md-6">
									<p>Therapists and organisations aren't one-size-fits-all. Find the one that's right
										for
										you. Prishni lets you connect with different experts. Discover therapists, make
										appointments and get courses customised by them. Plsu, find organisations that
										offer
										the best information, resources and services available. </p>
								</div>
							</div><br>
							<div class="item item-3">
								<h1>Attend live Webinars </h1>
								<div class="col-md-4">
									<p>We invite experts to hold live workshops on various topics. Some workshops are
										directed towards caregivers, some towards learners and some for experts too!
										These
										sessions aim to help people learn new aspects, understand different expert's
										perspectives and create social networks. </p>
								</div>
							</div>
							<div class="item item-5">
								<h1>Discover supplemental products  </h1>
								<div class="col-md-6">
									<p>Find products like educational books, sensory products and more that will aid the
										treatment journey. Incorporate these products into your daily life to see how
										they
										can help manage behaviour. </p>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
			
			<!-- <div class="_215xd5 section-4">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<h3 style="color:red"> Is creative therapy helpful?</h3>
							<h1><b> Creative therapy</b> is great for motional expression, lifting depressive
								feeling,
								improvement of self-esteem, increasing energy, and management of conflict. </h1>
							<br>
						</div>
						<div class="col-md-6" id="creative_therapy">
							<ul>
								<li> Creative therapy can involve <b> music, art, dance, movement, and other
										creative
										activities</b>. </li>
								<li> Music and movement are often <b>healthy releases for stress and emotions</b>.
								</li>
								<li> Creative therapy improves <b>cognitive</b> and <b>sensorimotor</b> functions.
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div> -->
			<div class="_215xd5 section-5 partner-area partner-section">
				<div class="container">
				
					<h5 style="color: black;">Trusted & supported by these companies and many more</h5>
					<div class="partner-inner">

						<div class="row">
							<div class="col-sm-3">
								<div class="col-lg-2 col-md-3 col-6 col-sm-4">

									<a href="#">
										<img style="height: 100px; width: 150px;margin-left: 30px; margin-right: 30px;" src="{% static 'images/partners/hapchi.webp' %}" alt="partner">
										<img style="height: 100px; width: 150px;margin-left: 30px; margin-right: 30px;" src="{% static 'images/partners/hapchi.webp' %}" alt="partner">
									</a>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="col-lg-2 col-md-3 col-6 col-sm-4">
									<a href="#">
										<img style="height: 100px; width: 150px;margin-left: 30px; margin-right: 30px;" src="{% static 'images/partners/ima.png' %}" alt="partner">
										<img style="height: 100px; width: 150px;margin-left: 30px; margin-right: 30px;" src="{% static 'images/partners/ima.png' %}" alt="partner">
									</a>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="col-lg-2 col-md-3 col-6 col-sm-4">
									<a href="#">
										<img style="height: 100px; width: 150px;margin-left: 30px; margin-right: 30px;" src="{% static 'images/partners/ei.png' %}" alt="partner" style="margin-top: 20px;">
										<img style="height: 100px; width: 150px;margin-left: 30px; margin-right: 30px;" src="{% static 'images/partners/ei.png' %}" alt="partner" style="margin-top: 20px;">
									</a>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="col-lg-2 col-md-3 col-6 col-sm-4">
									<a href="#">
										<img style="height: 100px; width: 150px; margin-left: 30px; margin-right: 30px;" src="{% static 'images/partners/microsoft.jpg' %}" alt="partner" style="margin-top: 20px;">
										<img style="height: 100px; width: 150px;margin-left: 30px; margin-right: 30px;" src="{% static 'images/partners/microsoft.jpg' %}" alt="partner" style="margin-top: 20px;">
									</a>
								</div>
							</div>
							<!-- <div class="col-lg-2 col-md-3 col-6 col-sm-4">
								<a href="#">
									<img src="{% static 'images/partners/mic_startup.jpg' %}" alt="partner" style="margin-top: 20px;">
									<img src="{% static 'images/partners/mic_startup.jpg' %}" alt="partner" style="margin-top: 20px;">
								</a>
							</div> -->
						</div>
					</div>
					<br>
					<div class="row incubated-at">
						<h4 style="font-size: 30px; color: black; margin-left: 40px;">Incubated at </h4>
						<img src="{% static 'images/partners/IIMB.webp' %}" alt="partner">
					</div>
				</div>
				<!-- <div class="container">
					<div class="text-center">
						<h1>Our Gallery</h1>
					</div>
					<div class="accordian">
						<ul>
							<li>
								<div class="image_title">
									<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">Image 1</a>
								</div>
								<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
									<img src="http://thecodeplayer.com/uploads/media/3yiC6Yq.jpg" />
								</a>
							</li>
							<li>
								<div class="image_title">
									<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">Image 2</a>
								</div>
								<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
									<img src="http://thecodeplayer.com/uploads/media/40Ly3VB.jpg" />
								</a>
							</li>
							<li>
								<div class="image_title">
									<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">Image 3</a>
								</div>
								<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
									<img src="http://thecodeplayer.com/uploads/media/00kih8g.jpg" />
								</a>
							</li>
							<li>
								<div class="image_title">
									<a href="#">Image 4</a>
								</div>
								<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
									<img src="http://thecodeplayer.com/uploads/media/40Ly3VB.jpg" />
								</a>
							</li>
							<li>
								<div class="image_title">
									<a href="#">Image 5</a>
								</div>
								<a href="https://www.youtube.com/channel/UCXTfDJ60DBmA932Du6B1ydg">
									<img src="http://thecodeplayer.com/uploads/media/8k3N3EL.jpg" />
								</a>
							</li>
						</ul>
					</div>
				</div> -->
			</div>
			<!-- <div class="_215td5 section-5 partner-area partner-section">
				<div class="container">
					<h5>Trusted by these wonderful companies and many more</h5>
					<div class="partner-inner">
						<div class="row">
							<div class="col-lg-2 col-md-3 col-6 col-sm-4">
								<a href="#">
									<img src="{% static 'images/partners/IIMB.png' %}" alt="partner">
									<img src="{% static 'images/partners/IIMB.png' %}" alt="partner">
								</a>
							</div>
							<div class="col-lg-2 col-md-3 col-6 col-sm-4">
								<a href="#">
									<img src="{% static 'images/partners/IIMB.png' %}" alt="partner">
									<img src="{% static 'images/partners/IIMB.png' %}" alt="partner">
								</a>
							</div>
							<div class="col-lg-2 col-md-3 col-6 col-sm-4">
								<a href="#">
									<img src="{% static 'images/partners/IIMB.png' %}" alt="partner">
									<img src="{% static 'images/partners/IIMB.png' %}" alt="partner">
								</a>
							</div>
							<div class="col-lg-2 col-md-3 col-6 col-sm-4">
								<a href="#">
									<img src="{% static 'images/partners/IIMB.png' %}" alt="partner">
									<img src="{% static 'images/partners/IIMB.png' %}" alt="partner">
								</a>
							</div>
							<div class="col-lg-2 col-md-3 col-6 col-sm-4">
								<a href="#">
									<img src="{% static 'images/partners/IIMB.png' %}" alt="partner">
									<img src="{% static 'images/partners/IIMB.png' %}" alt="partner">
								</a>
							</div>
							<div class="col-lg-2 col-md-3 col-6 col-sm-4">
								<a href="#">
									<img src="{% static 'images/partners/IIMB.png' %}" alt="partner">
									<img src="{% static 'images/partners/IIMB.png' %}" alt="partner">
								</a>
							</div>
						</div>
					</div>
					<div class="row incubated-at">
						<h4 style="font-size: 30px;">Incubated at </h4>
						<img src="{% static 'images/partners/IIMB.png' %}" alt="partner">
					</div>
				</div>
			</div> -->
			<!-- <div class="_215xd5 section-our-story">
				<div class="container">
					<div class="text-center mb-3">
						<h1>Our Story</h1>
					</div>
					<main>
						<div class="slider">
							<div class="slide">
								<div class="testimonial">
									<blockquote>“ I’ve been interested in coding for a while but never
										taken the jump, until now.
										I couldn’t recommend this course enough. I’m now in the job of my
										dreams and so excited about the future. ”</blockquote>
									<p class="author">Tanya Sinclair
										<span>UX Engineer</span>
									</p>
								</div>

								<div class="slider-img">
									<img src="https://alcs-slider.netlify.app/images/image-tanya.jpg"
										alt="Author Image">
								</div>

							</div>
						</div>
					</main>
				</div>

			</div> -->
			<footer class="dk-footer" style="margin-top: 130px;">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-lg-4">
							<div class="dk-footer-box-info" style="margin-top: 30px;">
								<a href="index.html" class="footer-logo">
									<img src="{% static 'images/footer_logo.png' %}" style="margin-left: 40px;" alt="footer_logo" class="img-fluid">
								</a>
								<p class="footer-info-text" style="color: white;">
									Curating  alternative paths 
								</p>
								<h3>Follow us</h3>
								<div class="footer-social-link">
									<a href="{% getFacebookLink %}"><i class="fab fa-facebook-f"></i></a>
									<a href="{% getLinkedInLink %}"><i class="fab fa-linkedin-in"></i></a>
									<a href="{% getInstagramLink %}"><i class="fab fa-instagram"></i></a>
								</div>
								<!-- End Social link -->
							</div>
							<!-- End Footer info -->
						</div>
						<!-- End Col -->
						<div class="col-md-6 col-lg-4">
							<div class="footer-widget footer-left-widget">
								<div class="section-heading" style="margin-top: 30px;">
									<h3>Useful Links</h3>
									<!-- <div class="animate-border">
										<span class=" border-black"></span>
									</div> -->
								</div>
								<ul>
									<li>
										<a href=" {% url 'main:aboutUs' %} ">About Us</a>
									</li>
									<li>
										<a href=" {% url 'main:career' %} ">Careers</a>
									</li>
									<!--<li>
										<a href=" {% url 'media:press' %} ">Press</a>
									</li>-->
									<li>
										<a href=" {% url 'media:ourBlog' %} ">Blog</a>
									</li>
								</ul>
								<ul>
									<li>
										<a href=" {% url 'main:contactUs' %} ">Contact Us</a>
									</li>
									<li>
										<a href=" {% url 'main:feedback' %} ">Feedback</a>
									</li>
									<!--<li>
										<a href=" {% url 'main:helpFAQ' %} ">FAQ</a>
									</li>
									<li>
										<a href=" {% url 'main:help' %} ">Help</a>
									</li>-->
								</ul>
							</div>
							<!-- End Footer Widget -->
						</div>
						<div class="col-md-12 col-lg-4">
							<div class="footer-widget footer-right-widget">
								<div class="section-heading" style="margin-top: 30px;">
									<div>
										<h2 style="color: #fff" >Get in Touch</h2>
										<br>
									</div>
									<div>
										<img src="{% static 'images/Illustrations/mail.png' %}" data-wow-delay=".1s" style="margin-left: -10px; margin-right: 12px; height: 20px; width: 20px;"></i>
										<a style="color: #fff" href="mailto:info@prishni.in">info@prishni.in</a>
									</div>
									 <br>
									<div>
									  <img src="{% static 'images/Illustrations/phone.png' %}" data-wow-delay=".1s" style="margin-left: -7px; margin-right: 5px; height: 20px; width: 20px;">
									  <a style="color: #fff; " href="tel:+9611468902">+91 9611468902</a>
									</div>
									 <br>
									<div>
										<img src="{% static 'images/Illustrations/whatsapp.png' %}" data-wow-delay=".1s" style="margin-left: -4px; margin-right: 5px; height: 30px; width: 30px;">
									  <a style="color: #fff; margin-left: -5px;" href="whatsapp:+919611468902">+91 9611468902</a>
									</div>
									<!--div>
										<i class="fa fa-skype fa-fw wow bounceIn" data-wow-delay=".1s"></i>
										<a style="color: #fff" href="skype:corvidsystems">corvidsystems</a>
									</div-->
									<!--<div class="animate-border">
										<span class=" border-black"></span>
									</div> 
								</div>
								<p>
									 Don’t miss to subscribe to our new feeds, kindly fill the form below. -->
									<!--Reference site about Lorem Ipsum, giving information on its origins, as well.
								</p>-->
								<!-- DON'T DELETE THIS -->
								<!-- <form action="#">
								<div class="form-row">
									<div class="col dk-footer-form">
										<input type="email" class="form-control" placeholder="Email Address">
										<button type="submit">
											<i class="fa fa-send"></i>
										</button>
									</div>
								</div>
							</form> -->
								<!-- DON'T DELETE THIS -->
								<!-- End form -->
							</div>
							<!-- End footer widget -->
						</div>
					</div>
					<!-- End Widget Row -->
				</div>
				<!-- End Contact Container -->
				<!-- Copyright-->
				<br>
				<div class="copyright">
					<br>
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="footer_logo">
									<a href=" {% url 'index' %} ">
										<img src=" {% static 'images/sign_logo.png' %} " alt="" />
									</a>
									<span>Copyright © 2021, All Right Reserved Prishni</span>
								</div>
							</div>
							<!-- End Col -->
							<div class="col-md-6">
								<div class="copyright-menu">
									<ul>
										<li>
											<a href="{% url 'index' %}">Home</a>
										</li>
										<li>
											<a href="{% url 'legal:termsOfUse' %}">Terms</a>
										</li>
										<li>
											<a href="{% url 'legal:privacyPolicy' %}">Privacy Policy</a>
										</li>
										<li>
											<a href="{% url 'legal:cookiePolicy' %}">Cookies</a>
										</li>
									</ul>
								</div>
							</div>
							<!-- End col -->
						</div>
						<!-- End Row -->
					</div>
					<!-- End Copyright Container -->
				</div>
				<!-- End Copyright -->
				<!-- Back to top -->
				<div id="back-to-top" class="back-to-top">
					<a href="#openingtext">
					<button class="btn btn-dark" title="Back to Top" style="display: block;" window.onscrol>
						<i class="fa fa-angle-up"></i>
					</button>
					</a>
				</div>
				<!-- End Back to top -->
				<!-- End Back to top -->
			</footer>
			<!-- Body End -->



	</body>

</html>