{% extends 'assets/base-onepagemodal-template.html' %}
{% load static %}

<!-- title start -->
{% block title %} Password Reset Complete {% endblock title%}
<!-- title end -->
{% block extraCSS %}
<style>
    #reset_password_complete {
        background: #fff;
        border-radius: 10px;
        padding: 50px 50px 30px;
        position: relative;
        box-shadow: -0.083333333in 0.5pc 1.125pc -7px rgb(25 42 70 / 13%);
        width: 560px;
        margin: auto;
    }

    #div_center {
        justify-content: center;
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }

    @media screen and (max-width:560px) {
        #reset_password_complete {
            width: 90%;
        }
    }
</style>
{% endblock extraCSS %}

<!-- Content Start -->
{% block content %}
<!-- password reset sent body starts -->
<div class="pt-3">
    <div class="row" id="div_center">
        {% block header %}
        {% include 'assets/base-onepagemodal-header.html' %}
        {% endblock header %}

        <div class="jumbotron" id="reset_password_complete">
            <h2>Password reset complete!</h2>
            <p>Your Password has been reset.</p>
            <p>You can login now with your new password.</p>
            <hr class="my-4">
            <div>
                <span class="hvsng145" style="float:left;">Back to<a href="{% url 'main:signin' %}"> Sign
                        In</a></span>
                <span class="hvsng145" style="float:right;">Back to<a href="{% url 'index' %}"> Home</a></span>
            </div>
        </div>

    </div>
</div>
<!-- Footer Start -->
{% block footer %}
{% include 'assets/base-onepagemodal-footer.html' %}
{% endblock footer %}
<!-- Footer End -->

<!-- password reset sent body ends -->
{% endblock content %}
<!-- Content End -->